a img {
  height: 50px;
}
h1 {
  color: #69dfe2;
}
#contact-section button:hover {
  background-color: #69dfe2;
  color: #22356d !important;
  border: none;
  box-shadow: 2px 1px 20px grey;
  font-weight: bold;
}
h4 {
  color: #22356d !important;
  background: rgb(232, 255, 0);
  background: radial-gradient(
    circle,
    rgba(232, 255, 0, 1) 0%,
    rgba(232, 255, 0, 0.3225665266106442) 100%
  );
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
h5 {
  color: #69dfe2;
}
h1:hover,
#contact-section p:hover {
  color: white;
  cursor: pointer;
}

#contact-section button {
  background-color: #22356d;
  color: #69dfe2 !important;
  border: none;
}

#contact-section {
  background: repeat-x url("/assets/img/contact-court.jpg");
  height: 92vh;
}

#shop-section {
  background-color: white;
}

.privacy-policy {
  background: url("/assets/img/about-court.jpg") no-repeat center center fixed;
}
#myCarousel {
  width: 100%;
  background-color: #22356d;
}
#myCarousel img {
  height: 100vh !important;
  -o-object-fit: cover;
  object-fit: scale-down;
}
